[
  {
    "key": "write",
    "action": "upsert",
    "entity": "product",
    "payload": [
      {{#entities}}
      {{#var}}productId={{{id}}}{{/var}}
      {
        "id": "{{#shopware6Uuid}}{{id}}{{/shopware6Uuid}}",
        "taxId": "a2ba309d85eb4c70ac64f06e8d6b7f5c",
        "featureSetId": "dabceb16429a49fd9c225328d606ded5",
        "coverId": "{{#shopware6Uuid}}{{id}}_{{#assetIdViaAttachmentId}}{{mainImageId}}{{/assetIdViaAttachmentId}}{{/shopware6Uuid}}",
        "media": [
          {{#assets}}
          {
            "id": "{{#shopware6Uuid}}{{var.productId}}_{{{id}}}{{/shopware6Uuid}}",
            "mediaId": "{{{id}}}",
            "position": 1
          },
          {{/assets}}
        ],
        "price": [
          {
            "currencyId": "b7d2554b0ce847cd82f3ac9bd1c0dfca",
            "net": 100,
            "linked": true,
            "gross": 119
          }
        ],
        "productNumber": "{{{sku}}}",
        "stock": {{{amount}}},
        "active": {{{isActive}}},
        "purchasePrices": [
          {
            "currencyId": "b7d2554b0ce847cd82f3ac9bd1c0dfca",
            "net": 0,
            "linked": true,
            "gross": 0
          }
        ],
        "name": "{{{name}}}",
        "visibilities": [
          {
            "id": "3465593b57d84ab791c8753acd0e04df",
            "productId": "43a5f9c081b3446e93743207749df259",
            "salesChannelId": "98432def39fc4624b33213a56b8c944d",
            "visibility": 30
          },
          {
            "id": "b6285d2a270f45b99acf47986c6afde8",
            "productId": "43a5f9c081b3446e93743207749df259",
            "salesChannelId": "454ca6eda8fc465bb9366dd5f47a36cb",
            "visibility": 30
          }
        ]
      },
    {{/entities}}
    ]
  }
]